body {
    text-align: center;
}

/* 一.选择器进阶 */
/* 
    1. 复合选择器
    2. 并集选择器
    3. 交集选择器
    4. hover伪类选择器
    5. Emmet语法
*/

/* 1.复合选择器 
        1.1 后代选择器:空格(后代任意都可匹配)
        1.2 子代选择器:> (只能选中子代(下一级))
        
        
        */

/*   1.1 后代选择器：空格   
        父选择器 后代选择器{
            css
        }
        
        */
div p {
    color: red;
}

/* 1.2 子代选择器:> 
    父选择器 子代选择器{
            css
        }

*/
div>a {
    color: red;
}

/* 2. 并集选择器 
    选择器,选择器{
        css
    }
*/
h1,
h2,
h3 {
    color: red;
}

/* 3.交集选择器 
    案例：寻找是p标签并且添加了box类
    p.box{
        css
    }

*/
p.box{
    color: blueviolet;
}

/* 4.hover伪类选择器 
    选择器:hover{ css }
    任何一个标签都可以添加伪类，任何一个标签都可以鼠标悬停
    */
a:hover{
    color: pink;
}
div:hover{
    color: blue;
}
/* 5.Emment语法 */

