div{
    width: 800px;
    height: 600px;
    background-color: pink;
    margin: 0 auto;
}
.text01{
    text-align: center;
}
a{
    text-decoration: none;
}

.color01{
    color: #808080;
}

.color02{
    color: #87ceeb;
    font-weight: 700;
}

.text{
    text-indent: 2em;
    line-height: 1.5;
}
