.container {
    width: 100%;
}
.item {
    width: 33%; display: inline-block; text-align: center; height: 50px;
}

.flex-warp {
    display: flex; justify-content: space-around;
}

.box {
    margin: 40px;
    padding: 50px;
    width: 500px;
    height: 100px;
    border: 10px solid #e9e9e9;
    background: url(https://t7.baidu.com/it/u=1819248061,230866778&fm=193&f=GIF) no-repeat center right;
    background-size: cover;
}

#nav {
    background-color: #B30000;
}


/*a css*/
a.a_bai:link,a.a_bai:visited{ color:#FFF; text-decoration:none;}
a.a_bai:hover{ color:#FFF;text-decoration:underline;}

a.a_bai2:link,a.a_bai2:visited{color:#FFF; text-decoration:none;width:50px; height:33px; line-height:33px; font-size:14px;display:block; text-align:center;}
a.a_bai2:hover{ color:#FFF;text-decoration:none;  background:#DB202E ; width:50px; height:33px; line-height:33px; display:block; text-align:center;}

a.a_blue:link,a.a_blue:visited{ color:#333333; font-size:14px; text-decoration:none;}
a.a_blue:hover{ color:#B30000; font-size:14px;text-decoration:underline;}

a.a_hong:link,a.a_hong:visited{ color:#D20000; font-size:14px; text-decoration:none;}
a.a_hong:hover{ color:#B30000; font-size:14px;text-decoration:underline;}

a.a_hui:link,a.a_hui:visited{ color:#333333; font-size:12px; text-decoration:none;}
a.a_hui:hover{ color:#B30000; font-size:12px;text-decoration:underline;}

a.a_blue2:link,a.a_blue2:visited{ color:#333333; text-decoration:none;}
a.a_blue2:hover{ color:#B30000;text-decoration:underline;}
