*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    color: #444;
}

a{
    text-decoration:none;
}


.topnav{
    height: 40px;
    background: rgb(21, 176, 102) ;
    text-align: left;
    font: normal 600 20px 微软雅黑;
    padding-top: 20px ;
    color: #fff;
}

.topnav :first-child{
   padding-left: 10px;
}

.topnav span{
    padding-left: 1180px;
}

#contentForm{
    padding-top: 150px;
    padding-bottom: 40px;
    text-align: center;
    background: center;
}

.content-index{
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    background: center;
}

.content-index > table{
    width: 1200px;
    margin: auto;
    border-spacing: 0px 0px;
}

.all_light {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* display: none; */
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;  
}

.contes { 
    position: absolute;
    top: 100px;
    left: 500px;      
    z-index: 2;
    display: none;
    width: 600px; 
    height: 600px;    
    color: #444;
    background: #fff;  
}

input {
    margin-bottom: 10px;
}

.btn-tab {
    border:none;
    border-radius: 5%;
    margin-bottom: 10px;
    color: #fff;
    font: 16px/1.5 微软雅黑;
    padding: 5px 5px;
    float: right;
    background-color: #2d8cf0;
}
.btn-stop {
    width: 40px;
    border:none;
    border-radius: 5%;
    margin: 5px 10px 5px 10px;
    color: #fff;
    font: 16px/2 微软雅黑;
    background-color: orange;
}
.btn-create {
    border:none;
    border-radius: 5%;
    color: #fff;
    font: 16px/1.5 微软雅黑;
    padding: 5px 5px;
    background-color: #2d8cf0;
    
}

.content-table {
    text-align: center;
    border: 1px solid #999;
    
}

.content-table td {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    padding: 5px;
 
}

.content-table th {
    border-right: 1px solid #999;
    padding: 5px;
}


.contes-table td{
    text-align: left;
    padding: 0 10px;
}

.content-btn {
    padding-left: 120px;
}