<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="./vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br /><br />
        名：<input type="text" v-model="lastName"><br /><br />
        <!-- methods实现 -->
        <!-- 姓名: <span>{{fullname()}}</span> -->
        <!-- 计算属性实现 -->
        姓名: <span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.production = false;
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三',
            },
            // methods: {
            //     fullName() {
            //         return this.firstName + this.lastName;
            //     }
            // },
            computed: {
                fullName: {
                    //有人读取fullname时，get调用，并且返回值作为fullname值
                    get() {
                        console.log('get调用');
                        return this.firstName + '-' +this.lastName;
                    },
                    set(value){
                        console.log('set调用');
                        const arr = value.split('-');
                        this.firstName = arr[0];
                        this.lastName = arr[1];
                    }
                    // 只读不写可简写
                    // fullName(){
                    //      return this.firstName + '-' +this.lastName;
                    // }
                }
            }
        })
    </script>
</body>

</html>